section{
    background-image: url(sleeping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 70px 0 163px 0;
}
section p{
    font-size: 20px;
    font-family: serif;
    
}
section h1{
    color: #d1f8ff;
    font-family: monospace;
}
.text-info{
    color:#000;
}
label{
    color: rgb(217, 244, 244); 
    font-family: monospace;
    
}
#salida{
    color: #fff;
}
footer {
    padding: 16px;
    background: rgba(0, 0, 0, 0.31);
    
}
footer a{
    color: #000;
}